<header>
    <h1>{{title}}</h1>
    <div class='topnav'>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
        {{!-- <a href="/weather">Search</a> --}}
    </div>
</header>